/* csslint ignore:start */

@face-font {
  font-family: 'Somatic-Rounded';
  src : url('font/Somatic-Rounded.eot') format('embedded-opentype'),
        url('font/Somatic-Rounded.woff') format('woff'), /* Pretty Modern Browsers */
        url('font/Somatic-Rounded.ttf')  format('truetype');
}
@face-font {
  font-family: 'governor';
  src: url('./governor.ttf') format('truetype');
}


body,
html {
  overflow-x: hidden;
  max-width: 100vw !important;
  height: auto;
}

body,
p,
a,
button,
h2,
h3,
h4,
h5,
h6,
td,
tr,
th,
label {
  font-family: 'Somatic-Rounded', sans-serif ;
}

.bg-deep-purple {
  padding: 8em 10px;
  padding-bottom: 20px;
  background-color: #512da8;
  border-bottom: 5px solid #8e24aa;
}

.bg-blue {
  background-color: rgb(1,52,67);
  color: #FEFEFE;
  padding: 50px;
  height: inherit;
}

.bg-white {
  padding: 12rem 30px;
  background-color: #ffffff;
  color: #626262;
  height: 100%;
}

.bg-purple {
  padding: 10px 0;
  /* height: 200px !important; */
  background-color: #512da8;
  color: #626262;
  height: 100%;
}

.bg-soft-grey {
  background-color: #f0f0f0;
  color: #626262;
  height: 100%;
}

.btn-purple {
  background-color: rgb(23, 32, 41) !important;
}

#navbar {
  overflow: hidden;
  background-color: rgb(23, 32, 41);
  z-index: 2440 !important;
  max-width: 100vw;
}

.nav>li>a {
  color: white;
}
.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:focus {
  color: #FEFEFE;
  background-color: rgba(1,51,67,0.2) !important;
}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.text-logo {
  font-family :'Somatic-Rounded', sans-serif ;
  font-size : 12rem;
  /* font-weight: bold; */
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 600px ) {
  .text-logo {
    font-size: 9rem ;
  }
}

@media screen and (max-width: 422px ) {
  .intro {
    padding: 90px 0;
    padding-top: 90px;
  }
  .text-logo {
    font-size: 7rem !important;
  }
}

.btn, input[type=submit] {
  margin-right: 5px;
  text-transform: none;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  border-radius: 3px;
  background-color: whitesmoke;
}
.button-shadow-grey {
  margin-top : 10px;
  box-shadow: -1px 1px 0px 1px lightgrey;
}

.button-shadow-grey:hover,
.button-shadow-grey:active {
  opacity: 0.8;
  color: black !important;
}

.fixed-demo-1 {
  width: 55%;
  margin: 0 auto;
  background: url('../img/view1_.png') fixed;
}

/**
card
*/

.col-centered {
  margin: 0 auto;
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-intro {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 2.5rem;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
  background-color: white;
}

@media screen and (max-width: 600px) {
   .slide-type-design,
   .slide-type-shortlists,
   .slide-type-ingredients,
   .slide-type-flavors {
    background-size: 90%;
  }
}

@media screen and (max-aspect-ratio: 7/10) {
  .full-slide-copy {
      margin: 0 0 0 0%;
      background: rgba(255,255,255,0.8) !important;
    }
    #signup-button.btn-xl {
      padding: 20px 10px;
    }
}


#contact {
  padding: 210px 0;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  margin-top: -150px;
}

section#contact {
  background-color: #172029;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #ff5a61;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}

h2 {
  font-size: 43pt;
  color: rgb(208, 77 ,255);
}

p {
  font-size: 14pt;
  font-weight: 100;
}
.intro {
  min-height: 91vh;
  width: 100%;
  padding: 150px 0;
  box-shadow: 0 6px 2px -2px gray;
  padding-top: 200px;
  background: url(../includes/img/background.jpg) no-repeat  center center fixed;
    background-size: auto;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 90%, 51% 100%, 51% 100%, 0 90%, 0 0);
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 90%, 51% 100%, 51% 100%, 0 90%, 0 0);
}

h2.header-name {
  font-weight: 900;
  font-size: 5rem;
  color: rgb(255,90,97);
  margin-top: 50px;
}

h4.header-name {
  font-weight: 100;
  font-size: 1.5rem;
  color: #E4F1FE;
}

h3.header-name {
  font-weight: 100;
  font-size: 4rem;
  color: #fefefe;
}

.hr-intro {
  max-width: 40%;
  align-self: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-xl {
  /* width: 90px;
  height: 70px; */
  padding: 25px 50px;
  font-size: 4rem;
  border-radius: 7px;
  color:white;
  background: rgba(255, 90,97, 0.9);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.btn-xl:hover {
  color: #FCFCFC;
  background:rgba(255, 90,97, 1);
}
.salmon {
  color: rgb(255,90,97) !important;
}

.full-slide {
  margin-bottom: -100px ;
}

a:hover {
    color: rgb(246, 71, 71) !important;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: #fcfcfc;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  font-size: 19pt !important;
  padding: 8px 50px;
  margin-bottom: 0px;
}

input[type=radio]:checked + label {
  color: #fefefe;
  background: rgb(255,90,97);
}

.radio-group {
  border: solid 3px rgb(255,90,97);
  display: inline-block;
  margin: 20px;
  border-radius: 3px;
  overflow: hidden;
}

.outline-primary {
  font-size: 30px;
  background: transparent;
  border: 3px solid rgba(208, 77 ,255, 1);
  color: rgba(208, 77 ,255, 1);
}

.outline-primary:hover {
  background: transparent;
  border: 3px solid rgba(208, 77 ,255, 0.7);
  color: rgba(208, 77 ,255, 0.7);
}

#newsletterform {
  display: none;
}

.button-34 {
  font-size: 34pt;
 -webkit-transform: translatey(0px);
         transform: translatey(0px);
 -webkit-animation: float 6s ease-in-out infinite;
         animation: float 6s ease-in-out infinite;
}


.full-slide {
    min-height: 60em;
    border-top: 1px solid rgba(7, 22, 32, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.anview-logo span:nth-child(6) {
    left: 102px;
    animation: view 5s ease;
    transform: translateX(0px);
}

@keyframes view {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    40% {
        opacity: 1;
    }
    70% {
        transform: translateX(60px);
    }
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4040;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 5);
  background-color: rgba(0, 0, 5, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
  z-index: 3000
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 992px) {
  .overlay a {
    color: #17023d;
  }
}

@media screen and (max-width: 476px) {
  .overlay .closebtn {
    top: 0;
  }
  .overlay a {
    padding: 0;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

img.overlay-img {
  height: inherit;
  overflow-y: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background: rgba(1,51,67,0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(1,51,67);
}

.cross {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 36pt;
}

#overlay {
  position: fixed;
  display: table-column;
  width: 550px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  cursor: pointer;
  background-color: rgba(0,0,0,0.95) !important;
}

.overlay-content {
  display: table;
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.list-group-item {
  font-size: 24pt;
  border-radius: 0;
  border: none;
  color: white !important;
  background: transparent;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

a {
  color: rgb(208, 77 ,255);
}
a:hover,
a:active, {
  color: white;
  text-shadow: #17023d;
}

a > .list-group-item:hover {
  color: rgb(208, 77 ,255);
}

.alert {
  border-radius: 2px;
}
.alert-success {
  border: none;
  background-color: #26C281;
  color: white;
}

.alert-danger {
  border: none;
  color: white;
  background-color: #CF000F;
}

.menu-button {
    position: fixed;
    top: 25px;
    left: 25px;
    width: auto;
    font-size: 29pt !important;
    height: 54px;
    width: 54px;
    background: whitesmoke;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoRss {
  background: url('../img/en.png');
}
.social-network a.icoFr {
  background: url('../img/fr.png');
}
.social-network a.icoRss {
  background-color: rgb(255,90,97);
}
.social-network a.icoLinkedin {
  background-color:#007bb7;
}
.social-network a.icoGithub {
  background-color: #212121;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i,
.social-network a.icoGithub i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i img, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-bs {
  background-color: #172029 ;
	padding: 20px 20px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 0;
	border-top-left-radius: 0px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11pt;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
